# 1. Perkenalan

<p>=================================================</p>
<p><b>Milestone 3</b>

<b>Nama</b> : Fauzan Risqullah

<b>Batch</b> : FTDS-024-RMT

<b>Objective:</b>

Program ini dibuat untuk melakukan validasi data untuk data yang sudah di-cleaning sebelumnya dari Airflow. Adapun proses validasi data akan menggunakan library Python yang biasa digunakan untuk melakukan validasi data yakni Great Expectation. Proses validasi data akan dilakukan tiap kolom untuk seluruh kolom, dan pemilihan tipe Expectation yang digunakan tiap kolomnya akan disesuaikan dengan ciri dari masin - masing kolom itu sendiri.

</p>

<p>=================================================</p>

# 2. Overview

Narasi:
Untuk menjawab kebutuhan bisnis, data yang sudah di-cleaning harus dilakukan validasi terlebih dahulu untuk melihat apakah proses data cleaning sudah sesuai atau tidak. Adapun validasi harus dilakukan ke seluruh kolom dengan tipe Expectation yang harus digunakan seminimalnya berjumlah 7 tipe yang akan digunakan ke seluruh kolom dari data yang sudah di-cleaning.

Tipe Expectations yang akan digunakan:
- expect_column_to_exist
- expect_column_values_to_not_be_null
- expect_column_values_to_be_unique
- expect_column_values_to_be_in_set
- expect_column_values_to_be_in_type_list
- expect_column_values_to_match_regex
- expect_column_values_to_be_between
- expect_column_value_lengths_to_be_between
- expect_column_max_to_be_between
- expect_column_min_to_be_between

---

# 3. GX Configuration

In [1]:
from great_expectations.data_context import FileDataContext

context = FileDataContext.create(project_root_dir='./')

In [2]:
datasourceName = 'csv-application-data'
datasource = context.sources.add_pandas(datasourceName)

assetName = 'clean-applicatoin-data'
path = 'P2M3_fauzan_risqullah_data_clean.csv'
asset = datasource.add_csv_asset(assetName, filepath_or_buffer=path)

batchRequest = asset.build_batch_request()

In [3]:
expectationSuite = 'expectation-application-data'
context.add_or_update_expectation_suite(expectationSuite)

validator = context.get_validator(batch_request=batchRequest,
                                  expectation_suite_name=expectationSuite)

validator.head()

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

,Unnamed: 0,sk_id_curr,target,name_contract_type,code_gender,flag_own_car,flag_own_realty,cnt_children,amt_income_total,amt_credit,...,name_income_type,name_education_type,name_family_status,name_housing_type,occupation_type,cnt_fam_members,weekday_appr_process_start,hour_appr_process_start,organization_type,days_last_phone_change
0,0,100002,1,Cash loans,M,0,1,0,202500.0,406597.5,...,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,1,WEDNESDAY,10,Business Entity Type 3,1134.0
1,1,100003,0,Cash loans,F,0,0,0,270000.0,1293502.5,...,State servant,Higher education,Married,House / apartment,Core staff,2,MONDAY,11,School,828.0
2,2,100004,0,Revolving loans,M,1,1,0,67500.0,135000.0,...,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,1,MONDAY,9,Government,815.0
3,3,100006,0,Cash loans,F,0,1,0,135000.0,312682.5,...,Working,Secondary / secondary special,Civil marriage,House / apartment,Laborers,2,WEDNESDAY,17,Business Entity Type 3,617.0
4,4,100007,0,Cash loans,M,0,1,0,121500.0,513000.0,...,Working,Secondary / secondary special,Single / not married,House / apartment,Core staff,1,THURSDAY,11,Religion,1106.0

---

# 4. Expectations

### 4.1. Kolom 'sk_id_curr'

Scenario: Kolom id pada dataset harus ada, kemudian valuenya tidak boleh ada null dan valuenya harus bersifat unique.

In [7]:
validator.expect_column_values_to_not_be_null('sk_id_curr')['success']

Calculating Metrics:   0%|          | 0/6 [00:00<?, ?it/s]

True

In [8]:
validator.expect_column_values_to_be_unique('sk_id_curr')['success']

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

True

In [34]:
validator.expect_column_to_exist('sk_id_curr')['success']

Calculating Metrics:   0%|          | 0/2 [00:00<?, ?it/s]

True

---

### 4.2. Kolom 'target'

Scenario: Kolom target pada dataset harus merekam nilai 0 atau 1, dimana 0 merepresentasikan pinjaman tidak default dan 1 merepresentasikan pinjaman yang mengalami default.

In [9]:
validator.expect_column_values_to_be_in_set('target', [0, 1])['success']

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

True

---

### 4.3. Kolom 'name_contract_type'

Scenario: Kolom name_contract_type harus memiliki value 'Cash loans' atau 'Revolving loans' karena jenis contract yang tersedia hanya dua itu saja.

In [16]:
validator.expect_column_values_to_be_in_set('name_contract_type', ['Cash loans', 'Revolving loans'])['success']

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

True

---

### 4.4. Kolom 'code_gender'

Scenario: Kolom code_gender harus memiliki value 'M' yang merepresentasikan 'Male' atau 'F' yang merepresentasikan 'Female' atau 'XNA' yang berarti customer tidak bersedia menjawab.

In [18]:
validator.expect_column_values_to_be_in_set('code_gender', ['M', 'F', 'XNA'])['success']

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

True

---

### 4.5 Kolom 'flag_own_car' dan 'flag_own_realty'

Scenario: Untuk kolom 'flag_own_car' dan 'flag_own_realty' valuenya harus bernilai 0 atau 1. Dimana 0 merepresentasikan tidak memiliki, dan 1 merepresentasikan memiliki.

In [19]:
validator.expect_column_values_to_be_in_set('flag_own_car', [0, 1])['success']

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

True

In [20]:
validator.expect_column_values_to_be_in_set('flag_own_realty', [0, 1])['success']

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

True

---

### 4.6. Kolom 'cnt_children' dan 'cnt_fam_members'

- Scenario: Untuk kolom 'cnt_children' dan 'cnt_fam_members' panjang karakter dari valuenya harus 1 atau 2 digit. Dengan nilai maximalnya berada di antara 4 ataupun 25

In [46]:
validator.expect_column_value_lengths_to_be_between('cnt_children', min_value=1, max_value=2)['success']

Calculating Metrics:   0%|          | 0/9 [00:00<?, ?it/s]

True

In [47]:
validator.expect_column_max_to_be_between('cnt_children', min_value=4, max_value=25)['success']

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

True

In [45]:
validator.expect_column_value_lengths_to_be_between('cnt_fam_members', min_value=1, max_value=2)['success']

Calculating Metrics:   0%|          | 0/9 [00:00<?, ?it/s]

True

In [48]:
validator.expect_column_max_to_be_between('cnt_fam_members', min_value=4, max_value=25)['success']

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

True

---

### 4.7. Kolom 'amt_income_total', 'amt_credit', 'amt_annuity', dan 'amt_goods_price'

- Scenario: Kolom 'amt_income_total', 'amt_credit', 'amt_annuity', dan 'amt_goods_price' harus memiliki tipe data numeric seperti integer atau float karena kolom - kolom ini menyimpan data nilai uang yang dapat dikalkulasi.

In [15]:
validator.expect_column_values_to_be_in_type_list('amt_income_total', ['integer', 'float'])['success']

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

True

In [21]:
validator.expect_column_values_to_be_in_type_list('amt_credit', ['integer', 'float'])['success']

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

True

In [22]:
validator.expect_column_values_to_be_in_type_list('amt_annuity', ['integer', 'float'])['success']

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

True

In [23]:
validator.expect_column_values_to_be_in_type_list('amt_goods_price', ['integer', 'float'])['success']

Calculating Metrics:   0%|          | 0/1 [00:00<?, ?it/s]

True

---

### 4.8. Kolom 'name_income_type', 'name_education_type', 'name_family_status', 'name_housing_type', 'occupation_type', dan 'organization_type'

- Scenario: Kolom 'name_income_type', 'name_education_type', 'name_family_status', 'name_housing_type', 'occupation_type', dan 'organization_type' value nya harus sesuai dengan yang sudah tersedia pada database. Dan kolom - kolom ini tidak boleh memiliki panjang karakter di atas 35.

In [24]:
validator.expect_column_values_to_be_in_set('name_income_type', ['Working', 'State servant', 'Commercial associate', 'Pensioner',
       'Unemployed', 'Student', 'Businessman', 'Maternity leave'])['success']

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

True

In [35]:
validator.expect_column_value_lengths_to_be_between ('name_income_type',
                                                     min_value=0,
                                                     max_value=35)['success']

Calculating Metrics:   0%|          | 0/9 [00:00<?, ?it/s]

True

In [25]:
validator.expect_column_values_to_be_in_set('name_education_type', ['Secondary / secondary special', 'Higher education',
       'Incomplete higher', 'Lower secondary', 'Academic degree'])['success']

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

True

In [37]:
validator.expect_column_value_lengths_to_be_between ('name_education_type',
                                                     min_value=0,
                                                     max_value=35)['success']

Calculating Metrics:   0%|          | 0/9 [00:00<?, ?it/s]

True

In [26]:
validator.expect_column_values_to_be_in_set('name_family_status', ['Single / not married', 'Married', 'Civil marriage', 'Widow',
       'Separated', 'Unknown'])['success']

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

True

In [38]:
validator.expect_column_value_lengths_to_be_between ('name_family_status',
                                                     min_value=0,
                                                     max_value=35)['success']

Calculating Metrics:   0%|          | 0/9 [00:00<?, ?it/s]

True

In [28]:
validator.expect_column_values_to_be_in_set('name_housing_type', ['House / apartment', 'Rented apartment', 'With parents',
       'Municipal apartment', 'Office apartment', 'Co-op apartment'])['success']

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

True

In [39]:
validator.expect_column_value_lengths_to_be_between ('name_housing_type',
                                                     min_value=0,
                                                     max_value=35)['success']

Calculating Metrics:   0%|          | 0/9 [00:00<?, ?it/s]

True

In [29]:
validator.expect_column_values_to_be_in_set('occupation_type', ['Laborers', 'Core staff', 'Accountants', 'Managers', 'Other',
       'Medicine staff', 'Drivers', 'Sales staff', 'Cleaning staff',
       'Cooking staff', 'Private service staff', 'Security staff',
       'High skill tech staff', 'Waiters/barmen staff',
       'Low-skill Laborers', 'Realty agents', 'Secretaries', 'IT staff',
       'HR staff'])['success']

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

True

In [40]:
validator.expect_column_value_lengths_to_be_between ('occupation_type',
                                                     min_value=0,
                                                     max_value=35)['success']

Calculating Metrics:   0%|          | 0/9 [00:00<?, ?it/s]

True

In [30]:
validator.expect_column_values_to_be_in_set('organization_type', ['Business Entity Type 3', 'School', 'Government', 'Religion',
       'Other', 'XNA', 'Electricity', 'Medicine',
       'Business Entity Type 2', 'Self-employed', 'Transport: type 2',
       'Construction', 'Housing', 'Kindergarten', 'Trade: type 7',
       'Industry: type 11', 'Military', 'Services', 'Security Ministries',
       'Transport: type 4', 'Industry: type 1', 'Police', 'Emergency',
       'Security', 'Trade: type 2', 'University', 'Transport: type 3',
       'Business Entity Type 1', 'Postal', 'Industry: type 4',
       'Agriculture', 'Restaurant', 'Culture', 'Hotel',
       'Industry: type 7', 'Trade: type 3', 'Industry: type 3', 'Bank',
       'Industry: type 9', 'Insurance', 'Trade: type 6',
       'Industry: type 2', 'Transport: type 1', 'Industry: type 12',
       'Mobile', 'Trade: type 1', 'Industry: type 5', 'Industry: type 10',
       'Legal Services', 'Advertising', 'Trade: type 5', 'Cleaning',
       'Industry: type 13', 'Trade: type 4', 'Telecom',
       'Industry: type 8', 'Realtor', 'Industry: type 6'])['success']

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

True

In [41]:
validator.expect_column_value_lengths_to_be_between ('organization_type',
                                                     min_value=0,
                                                     max_value=35)['success']

Calculating Metrics:   0%|          | 0/9 [00:00<?, ?it/s]

True

---

### 4.9. Kolom 'weekday_appr_process_start' dan 'hour_appr_process_start'

- Scenario:
    - Kolom weekday_appr_process_start harus dapat menerima value alphabet saja, dan valuenya harus sesuai dengan nama hari yang ada (dalam bahasa inggris).
    - Kolom hour_appr_process_start harus memiliki value yang mereprentasikan jam yakni berada di antara 0 sampai 24.

In [43]:
validator.expect_column_values_to_match_regex('weekday_appr_process_start', '[A-Za-z]')['success']

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

True

In [33]:
validator.expect_column_values_to_be_in_set('weekday_appr_process_start', 
                                            ['WEDNESDAY', 'MONDAY', 'THURSDAY', 
                                             'SUNDAY', 'SATURDAY', 'FRIDAY','TUESDAY'])['success']

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

True

In [51]:
validator.expect_column_values_to_be_between(column='hour_appr_process_start', 
                                             min_value=-1, 
                                             max_value=25)['success']

Calculating Metrics:   0%|          | 0/8 [00:00<?, ?it/s]

True

---

### 4.10. Kolom 'days_last_phone_change'

- Scenario: Kolom days_last_phone_change harus memiliki value yang tidak boleh berada dibawah 0 (angka negatif).

In [49]:
validator.expect_column_min_to_be_between(column='days_last_phone_change', 
                                          min_value=0, 
                                          max_value=0)['success']

Calculating Metrics:   0%|          | 0/4 [00:00<?, ?it/s]

True